<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Time Password</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: blue;
        }
        h2 {
            color: green;
        }
    </style>
</head>
<body>
    <div class="container" align="center">
        <h1>Hello, </h1>
        <h3 th:text="${name}"></h3>
        <h4>Your OTP is:</h4>
        <h2 th:text="${otp}"></h2>
        <h5>Thanks and Regards</h5>
        <span>Ekart All rights reserved</span>
    </div>
</body>
</html>